# ==========================
# Node / Backend
# ==========================
backend_coffee/node_modules/
backend_coffee/.env
backend_coffee/dist/
backend_coffee/logs/
backend_coffee/npm-debug.log*
backend_coffee/yarn-debug.log*
backend_coffee/yarn-error.log*

# ==========================
# React / Frontend
# ==========================
coffeecurse_front/node_modules/
coffeecurse_front/build/
coffeecurse_front/.env
coffeecurse_front/.env.local
coffeecurse_front/.env.development.local
coffeecurse_front/.env.test.local
coffeecurse_front/.env.production.local
coffeecurse_front/npm-debug.log*
coffeecurse_front/yarn-debug.log*
coffeecurse_front/yarn-error.log*

# ==========================
# Sistema operativo / misc
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Testing / Coverage
# ==========================
/coverage
