# Dependencias de Node
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno
.env

# Sistema operativo / misc
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
